rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdBy.userId;
      
      match /availability/{submitterId} {
        allow read, write: if true;
      }
    }
    
    match /public_events/{eventId} {
      allow read, write: if true;
    }
    
    match /contacts/{contactId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
} 